* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-image: url("./images/Background.jpg");
    background-size: cover;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.heading {
    color: aliceblue;
    text-align: center;
    padding-top: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    font-weight: 500;
}

.cards {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}

.card {
    height: 110px;
    width: 90px;
    background-color: #ffff00;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all ease;

}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 90%;
    max-height: 90px;
    transition: 0.3s all ease;
    padding-top: 10px;
    margin: 5px;
    opacity: 0;
   
}

